@media only screen  and (max-width: 600px) {
    
}
body{
    background-position: cover;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    width: 100%;
    max-width: 400px;
  }
  
  input,
  select,
  textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  button[type="submit"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: #0077cc;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 1rem;
  }
  
  button[type="submit"]:hover {
    background-color: #005ca3;
  }
  